* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 15vh;
  background-color: #2e2a4f;
}
header #logo {
  width: 12vh;
  height: 12vh;
  margin: 5vw;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  height: 10vh;
  margin: 5vw;
  color: white;
}
