@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Hammersmith+One&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asset&family=Grape+Nuts&family=Hammersmith+One&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primaria: #323659;
    --fundo: #5474a1;
    --secundaria: #e7ba80;
    --secundaria-2: #a06a47;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
}
.titulo {
    font-family: "Asset", serif;
}

*::-webkit-scrollbar {
    width: 0.5vw;
}
*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--secundaria);
}
*::-webkit-scrollbar-track {
    background: var(--primaria);
}

body {
    background-color: var(--fundo);
    overflow-x: hidden;
    width: 100vw;
    height: min-content;
}










header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    border-bottom: var(--secundaria) 0.5vh solid;
    background-color: var(--primaria);
    z-index: 100;
}
header #logo {
    width: 10vh;
    height: 10vh;
    margin: 0 5vw;
}
header nav ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height: 8vh;
    margin: 0 5vw;
    color: white;
    font-size: 1.3vw;
    font-weight: 600;
    letter-spacing: 0.15vw;
}
header nav ul::after {
    content: '';
    display: block;
    position: absolute;
    top: 1vh;
    left: -5vw;
    width: 0.1vw;
    height: 6vh;
    background-color: var(--secundaria);
}










main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 3vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
main article {
    margin-bottom: 60vh;
}


main #display {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 25vw;
    height: 90vh;
    border-radius: 0 6vw 6vw 0;
    background-color: var(--secundaria-2);
}
main #display img {
    position: absolute;
}
main #display #leite {
    height: 70vh;
    transform: rotate(-50deg);
    z-index: 10;
}
main #display #sparkles1 {
    top: 3vh;
    left: -15vw;
    width: 46vw;
    z-index: 5;
}
main #display #sparkles2 {
    left: -15vw;
    bottom: 4vh;
    width: 45vw;
    transform: scaleX(-1);
    z-index: 15;
}
main #display #empadinha1 {
    top: 6vh;
    left: 4vw;
    width: 9vw;
    transform: rotate(-12deg);
    z-index: 5;
}
main #display #empadinha2 {
    left: 6vw;
    bottom: 12vh;
    width: 13vw;
    transform: rotate(14deg);
    z-index: 20;
}
main #display #empadinha3 {
    top: 38vh;
    left: 7vw;
    width: 17vw;
    transform: rotate(11deg) translateY(-50%);
    z-index: 25;
}
main #display p {
    position: absolute;
    right: 4vw;
    bottom: 1vh;
    width: 15vw;
    padding: 1vw;
    border-radius: 2vw;
    background-color: white;
    text-align: center;
    color: var(--secundaria-2);
    letter-spacing: 0.1vw;
    font-weight: 600;
    font-size: 1vw;
    z-index: 10;
}


main #saboresfavoritos {
    position: relative;
    width: 65vw;
    margin-left: auto;
    color: white;
}
main #saboresfavoritos::before {
    content: "";
    display: block;
    position: absolute;
    left: -33vw;
    bottom: -20vh;
    width: 80vw;
    height: 0.2vh;
    margin: 0 10vw;
    background-color: white;
}
main #saboresfavoritos h2 {
    text-align: center;
    font-size: 2.2vw;
    margin-bottom: 4vh;
}
main #saboresfavoritos li {
    position: relative;
    width: 100%;
    margin-bottom: 3vh;
    list-style-type: none;
}
main #saboresfavoritos h3 {
    position: relative;
    width: 18vw;
    padding: 0.7vw;
    border-radius: 3vw;
    text-align: center;
    font-size: 1.6vw;
    letter-spacing: 0.1vw;
    background-color: var(--primaria);
    z-index: 10;
}
main #saboresfavoritos .descricao {
    position: relative;
    left: 3vw;
    top: -1vh;
    width: 40vw;
}
main #saboresfavoritos .descricao p {
    position: relative;
    width: 100%;
    padding: 1vw;
    border-radius: 2vw;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
    z-index: 5;
}
main #saboresfavoritos .descricao .preco {
    position: relative;
    margin-left: auto;
    top: -4vh;
    width: 10vw;
    padding: 0.6vw;
    padding-top: 4vh;
    border-radius: 0 0 2vw 2vw;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
    z-index: 4;
}
main #saboresfavoritos .empadinha {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 2vw;
    width: 15vw;
    height: 15vw;
    border-radius: 15vw;
    background-color: var(--primaria);
}
main #saboresfavoritos .empadinha img {
    position: absolute;
    bottom: 5vw;
    width: 12vw;
    transform: translateY(3vh);
}
main #saboresfavoritos .empadinha .leite {
    left: -1.5vw;
    bottom: 2vw;
    width: 20vw;
}
main #saboresfavoritos .empadinha .coroa {
    top: -2vw;
    right: 0;
    width: 6vw;
    transform: rotate(15deg);
}










main #embreve {
    position: relative;
    display: flex;
    justify-content: center;
    width: 94vw;
    height: 190vh;
}
main #embreve::before {
    content: "";
    display: block;
    position: absolute;
    left: -3vw;
    bottom: -30vh;
    width: 80vw;
    height: 0.2vh;
    margin: 0 10vw;
    background-color: white;
}

main #embreve #fitas .fita {
    position: absolute;
    top: 0;
    left: -28vw;
    width: 150vw;
    height: 10vh;
    background-image: url("img/tape.png");
}
main #embreve #fitas #fita1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22vh;
    transform: translate(0, 3vh) rotate(12deg);
    z-index: 20;
}
main #embreve #fitas #fita1 p {
    width: 150vw;
    height: 14vh;
    background-color: white;
    text-align: center;
    font-size: 5vw;
    letter-spacing: 1.3vw;
    word-spacing: 3vw;
    line-height: 13vh;
    font-weight: 900;
}
main #embreve #fitas #fita2 {
    height: 12vh;
    transform: translate(0, 15vh) rotate(-5deg);
    z-index: 10;
}
main #embreve #fitas #fita3 {
    height: 6vh;
    transform: translate(0, -2vh) rotate(-2deg);
    z-index: 11;
}
main #embreve #fitas #fita4 {
    width: 50vw;
    height: 9vh;
    transform: translate(0, 19vh) rotate(-20deg);
    z-index: 13;
}
main #embreve #fitas #fita5 {
    width: 50vw;
    height: 9vh;
    transform: translate(80vw, 2vh) rotate(-12deg);
    z-index: 13;
}
main #embreve #fitas #fita6 {
    height: 10vh;
    transform: translate(0, 80vh) rotate(-30deg);
    z-index: 10;
}
main #embreve #fitas #fita7 {
    height: 10vh;
    transform: translate(-15vw, 90vh) rotate(25deg);
    z-index: 10;
}

main #embreve #lista {
    display: grid;
    grid-template-columns: 41.5vw 41.5vw;
    grid-template-rows: 40vh 40vh 40vh;
    margin-top: 50vh;
    width: 90vw;
    padding: 3vw;
    border: var(--primaria) 0.5vw solid;
    border-radius: 5vw;
}
main #embreve #lista .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    border-radius: 5vw;
    margin: 2vw;
    z-index: 20;
}
main #embreve #lista .item .empadinha {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 15vw;
    height: 15vw;
    border: var(--primaria) 3vw dashed;
    border-radius: 10vw;
    background-color: #fff;
    animation: embreve-empadinha 15s linear infinite;
}
@keyframes embreve-empadinha {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
main #embreve #lista .item .empadinha img {
    width: 13vw;
    animation: embreve-empadinha-img 15s linear infinite;
}
@keyframes embreve-empadinha-img {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}
main #embreve #lista .item h3 {
    width: 17vw;
    padding: 3vw;
    border-radius: 3vw;
    background-color: white;
    color: black;
    font-size: 1.6vw;
    font-weight: 700;
    letter-spacing: 0.2vw;
}

main #embreve #placadecoracao {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 25vw;
    right: 6vw;
    bottom: -40vh;
    transform: rotate(-38deg) scale(1.5);
}
main #embreve #placadecoracao #placa {
    position: absolute;
    width: 12vw;
    top: 0;
    z-index: 15;
}
main #embreve #placadecoracao #placahaste {
    position: absolute;
    width: 6vw;
    bottom: 0;
    z-index: 10;
}










main #comboslista {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main #comboslista h2 {
    width: 75vw;
    margin-bottom: 15vh;
    color: white;
    text-align: center;
    font-size: 5vw;
    letter-spacing: 1.5vw;
}


main #combosgrid {
    position: relative;
    display: grid;
    grid-template-columns: 26vw 26vw 26vw;
    grid-template-rows: 60vh 60vh;
    width: 79vw;
    color: white;
}
main #combosgrid .combo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
main #combosgrid .combo h3 {
    width: 25vw;
    text-align: center;
    font-size: 2.6vw;
    letter-spacing: 0.2vw;
}
main #combosgrid .combo p {
    position: absolute;
    width: 15vw;
    margin-top: 3vw;
    text-align: center;
    font-size: 1.2vw;
    letter-spacing: 0.07vw;
    z-index: 10;
}
main #combosgrid .combo .preco {
    margin-top: 16vw;
    color: var(--secundaria);
    font-size: 1vw;
    letter-spacing: 0.2vw;
}
main #combosgrid .combo .dia {
    width: auto;
    padding: 0.5vw 1vw;
    border-radius: 2.5vw;
    margin-left: 10vw;
    margin-bottom: 16vw;
    background-color: white;
    color: black;
    font-size: 2.4vw;
    letter-spacing: 0.2vw;
}
main #combosgrid .combo img {
    position: relative;
    width: 23vw;
    z-index: 5;
    animation: combo-img 15s linear infinite;
}
@keyframes combo-img {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
main #combosgrid #prato {
    position: relative;
    right: -5vw;
    bottom: -5vh;
    width: 50vw;
    height: 50vw;
    border-radius: 50vw;
    background-color: var(--primaria);
}
main #combosgrid #prato img {
    position: absolute;
    top: 5vh;
    width: 35vw;
}
main #combosgrid::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -10vh;
    width: 55vw;
    height: 0.2vh;
    background-color: white;
}










main #creditos {
    position: relative;
    display: grid;
    grid-template-columns: 18vw 18vw 18vw 34vw;
    grid-template-rows: 20vw 20vw;
    width: 94vw;
    padding: 3vw;
}
main #creditos h2{
    position: absolute;
    top: -8vh;
    width: 94vw;
    color: white;
    text-align: center;
    font-size: 3vw;
    letter-spacing: 0.5vw;
    word-spacing: 3vw;
}
main #creditos .item {
    position: relative;
    width: 16vw;
    height: 18vw;
    border-radius: 1vw;
    margin: 1vw 1vw;
    background-color: var(--primaria);
    z-index: 5;
}
main #creditos .item p {
    position: absolute;
    bottom: 0;
    width: 16vw;
    text-align: center;
    color: white;
    font-size: 1.5vw;
    font-weight: 100;
    letter-spacing: 0.4vw;
}
main #creditos .item img {
    position: relative;
    width: 16vw;
    border-radius: 1vw;
    z-index: 10;
}

main #creditos .item .emoji {
    position: absolute;
    bottom: 1vw;
    left: -1.4vw;
    width: 5vw;
    transform: rotate(-7deg);
    z-index: 15;
}
main #creditos .item .emoji.dir {
    left: auto;
    right: -1.4vw;
    transform: rotate(9deg);
}
main #creditos .item .emoji.cim {
    bottom: auto;
    top: -1vw;
}

main #creditos #creditosdisplay {
    width: 32vw;
    height: 40vw;
    border-radius: 2vw;
    margin: 0 1vw;
    background-color: var(--primaria);
    grid-column: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url("img/creditos/creditosdisplay.png");
    background-repeat: repeat-x;
    background-size: auto 40vw;
    animation: creditosdisplay 60s infinite linear;
}
@keyframes creditosdisplay {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -294vw;
    }
}









footer {
    display: grid;
    grid-template-columns: 20vw 22.5vw 5vw 22.5vw 20vw;
    grid-template-rows: 40vh 8vh; 
    width: 100vw;
    padding: 5vw;
    border-top: var(--secundaria) 0.5vh solid;
    background-color: var(--primaria);
}
footer #logo {
    width: 18vw;
    height: 40vh;
    margin-right: auto;
    object-fit: scale-down;
}
footer a {
    width: 14vw;
    margin-left: auto;
}
footer a #instagram {
    width: 14vw;
    height: 40vh;
    object-fit: scale-down;
    grid-column: 5;
}
footer #info {
    grid-column-start: 2;
    grid-column-end: 5;
}
footer #info p {
    margin-bottom: 10vh;
    color: white;
    text-align: center;
    font-size: 2vw;
    font-weight: 100;
    letter-spacing: 0.3vw;
}
footer #olho {
    position: relative;
    width: 5vw;
    grid-column: 3;
    background-image: url("img/olho.png");
    background-size: 5vw 5vw;
    background-position: -50%;
}
footer #olho:hover #criadores {
    display: block;
}
footer #olho #criadores {
    display: none;
    position: absolute;
    left: -12.5vw;
    bottom: 9vh;
    width: 30vw;
    padding: 2vw;
    border-radius: 2vw;
    background-color: white;
}
footer #olho #criadores h4 {
    text-align: center;
    font-size: 1.3vw;
    font-weight: 400;
    letter-spacing: 0.2vw;
}
footer #olho #criadores p {
    margin: 2vh;
    text-align: center;
    font-size: 1vw;
    font-weight: 400;
    letter-spacing: 0.15vw;
}